.toggleButton {
    display: block;
    background-color: #000053;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.sunIcon {
    color: white;
    height: 100%;
    position: absolute;
    left: 6px;
}

.moonIcon {
    color: white;
    height: 100%;
    position: absolute;
    right: 6px;
}

.toggleButton::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 24px;
    height: 24px;
    margin: 3px;
    border-radius: 20px;
    transition: 0.3s;
}

input:checked+.toggleButton {
    background-color: #ffcc33;
}

.toggle:checked+.toggleButton::before {
    transform: translateX(30px);
}

input {
    display: none;
}