.navbarContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.cartAndDarkmodeContainer {
  display: flex;
  align-items: center;
}

.navbarDetail {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 1.2rem;
}